.slide-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  transition: transform 150ms;
}
.slide-arrow:hover {
  transform: translateY(-50%) translateX(4px);
}

.slide-arrow.left {
  right: auto;
  left: 1rem;
  transform: translateY(-50%) rotate(360deg);
}
.slide-arrow.left:hover {
  transform: translateY(-50%) translateX(-4px) rotate(360deg);
}